.carousel-component-v3 {
    height: 400px;
    overflow: hidden;

}

.carousel-v3-box{
    margin-left: 50vw;
    height: 370px;
}

.carousel-line-v3{
    display: flex;
    width: 8000px;
}

.carousel-item-v3{
    width: 350px;
    height: 350px;
    margin: 0 10px;
    border-bottom: solid 2px #D22346;
    overflow: hidden;
}



.carousel-left-manual, .carousel-right-manual{
    position: absolute;
    height: 352px;
    width: 100px;
    background-color: rgba(0,0,0,0.7);
    cursor: pointer;
    line-height: 352px;
    text-align: center;
    font-size: 46px;
}

.carousel-right-manual{
    right: 0;
    
}

.carousel-v3-debug{
    position: absolute;
    width: 700px;
    height: 40px;
    margin-top: -90px;
    margin-left: 200px;
    padding: 5px;
    background-color: rgba(33, 32, 85, 0.5);
    display: none;
}

.carousel-v3-text{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    transition-property: margin-top;
    transition-duration: 0.8s;
    height: 200px;
    cursor: pointer;
}

.carousel-v3-text h2{
    margin: 0;
}

.carousel-v3-text p{
    font-size: 12px;
}